/* Varibles */

:root
{
  --bg-purple: hsla(267, 100%, 63%, 1);
  --bg-purple-alpha-30: hsla(267, 100%, 63%, 0.3);
  --bg-dark-purple: hsla(279, 42%, 9%, 1);
  --bg-oxford-blue: hsla(240, 63%, 13%, 1);
  --bg-oxford-blue-alpha-80: hsla(240, 63%, 13%, 0.8);
  --bg-oxford-blue-alpha-90: hsla(240, 63%, 13%, 0.9);
  --bg-oxford-blue-alpha-95: hsla(240, 63%, 13%, 0.95);

  --gradient-1: linear-gradient(to right bottom, hsl(299, 100%, 52%), hsl(291, 100%, 58%), hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(262, 100%, 63%), hsl(242, 100%, 69%), hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%), hsl(198, 100%, 50%), hsl(192, 100%, 48%), hsl(185, 90%, 48%));
  --gradient-2: linear-gradient(90deg, transparent 0%, #9841ff 50%, transparent 100%);

  --text-white: hsla(0, 0%, 100%, 1);
  --text-gainsboro: hsla(0, 0%, 87%, 1);
  --text-champagne-pink: hsla(23, 61%, 86%, 1);
  --text-purple: hsla(267, 100%, 63%, 1);

  --border-space-cadet: hsl(240, 45%, 17%);
  --border-purple-alpha-30: hsla(267, 100%, 63%, 0.3);

  --fontFamily-oxanium: 'Oxanium', cursive;
  --fontFamily-work-sans: 'Work Sans', sans-serif;

  --fontSize-1: 3.6rem;
  --fontSize-2: 2.4rem;
  --fontSize-3: 2rem;
  --fontSize-4: 1.7rem;
  --fontSize-5: 1.6rem;
  --fontSize-6: 1.5rem;
  --fontSize-7: 1.4rem;
  --fontSize-8: 1.2rem;

  --weight-regular: 400;
  --weight-semiBold: 600;
  --weight-bold: 700;

  --section-spacing: 60px;

  --shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.2);

  --radius-5: 5px;
  --radius-3: 3px;
  --radius-circle: 50%;

  --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-4: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  --clip-path-5: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
  --clip-path-6: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
  --clip-path-7: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
  --clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

/* Defualt Style */

*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li
{
  list-style: none;
}

a,
img,
time,
span,
input,
button,
textarea,
ion-icon
{
  display: block;
}

a
{
  color: inherit;
  text-decoration: none;
}

img
{
  height: auto;
}

input,
button,
textarea
{
  border: none;
  font: inherit;
  background: none;
}

input,
textarea
{
  width: 100%;
}

button
{
  cursor: pointer;
}

ion-icon
{
  pointer-events: none;
}

address
{
  font-style: normal;
}

html
{
  font-size: 10px;
  scroll-behavior: smooth;
}

body
{
  background-repeat: repeat;
  background-color: var(--bg-dark-purple);
  background-image: url("images/body-bg.jpg");

  color: var(--text-gainsboro);

  line-height: 1.6;
  overflow-x: hidden;
  font-size: var(--fontSize-4);
  font-weight: var(--weight-regular);
  font-family: var(--fontFamily-oxanium);
}

::-webkit-scrollbar
{
  width: 8px;
}

::-webkit-scrollbar-track
{
  background-color: var(--bg-dark-purple);
}

::-webkit-scrollbar-thumb
{
  background-color: var(--bg-purple);
}

/* Reused Styles */

.container
{
  padding-inline: 12px;
}

.has-before,
.has-after
{
  z-index: 1;
  position: relative;
}

.has-before::before,
.has-after::after
{
  content: "";
  position: absolute;
}

.title
{
  color: var(--text-white);
}

.h1,
.h3
{
  line-height: 1.3;
}

.h1
{
  font-size: var(--fontSize-1);
  font-weight: var(--weight-semiBold);
}

.h2
{
  line-height: 1.4;
  font-size: var(--fontSize-2);
}

.h3
{
  font-size: var(--fontSize-3);
}

.section-title,
.section-subtitle,
.section-text
{
  text-align: center;
}

.section-subtitle
{
  color: var(--text-white);
  text-transform: uppercase;
  font-size: var(--fontSize-5);
  font-weight: var(--weight-semiBold);
}

.btn
{
  height: 50px;
  display: grid;
  overflow: hidden;
  min-width: 180px;
  position: relative;
  place-items: center;
  padding-inline: 30px;
  max-width: max-content;
  color: var(--text-white);
  font-size: var(--fontSize-6);
  clip-path: var(--clip-path-3);
  font-weight: var(--weight-semiBold);
  background-image: var(--gradient-1);
}

.btn::before
{
  content: "";
  z-index: -1;
  width: 250%;
  position: absolute;
  top: var(--top, 50%);
  left: var(--left, 50%);
  padding-block-end: 250%;
  background-color: var(--bg-purple);
  border-radius: var(--radius-circle);
  transform: translate(-50%, -50%) scale(0);
  transition: transform var(--transition-2);
}

.btn:is(:hover, :focus-visible)::before
{
  transform: translate(-50%, -50%) scale(1);
}

.w-100
{
  width: 100%;
}

.section
{
  padding-block: var(--section-spacing);
}

.section-title
{
  margin-block: 10px;
  text-transform: uppercase;
}

.section-title .span
{
  display: inline;
  color: var(--text-purple);
}

.section-text
{
  max-width: 480px;
  margin-inline: auto;
  margin-block-end: 40px;
}

.social-wrapper
{
  gap: 10px;
  display: flex;
  align-items: center;
}

.img-holder
{
  overflow: hidden;
  background-color: var(--bg-purple);
  aspect-ratio: var(--width) / var(--height);
}

.img-cover
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-reveal]
{
  opacity: 0;
  transition: var(--transition-2);
}

[data-reveal="left"]
{
  transform: translateX(-20px);
}

[data-reveal="right"]
{
  transform: translateX(20px);
}

[data-reveal="bottom"]
{
  transform: translateY(20px);
}

[data-reveal].revealed
{
  opacity: 1;
  transform: translate(0);
}

/* HEADER */

.header .btn
{
  display: none;
}

.header
{
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  padding: 10px 12px;
  position: absolute;
  background-color: var(--bg-oxford-blue);
}

.header.active
{
  position: fixed;
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp
{
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header .container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle-btn .line
{
  height: 3px;
  width: 20px;
  margin-block: 4px;
  border-radius: 8px;
  transition: var(--transition-1);
  background-color: var(--text-gainsboro);
}

.nav-toggle-btn.active .line-2
{
  transform: rotate(-45deg);
}

.nav-toggle-btn.active .line-1
{
  transform: rotate(45deg) translate(5px, 5px);
}

.nav-toggle-btn.active .line-3
{
  display: none;
}

.navbar
{
  left: 12px;
  right: 12px;
  padding: 0 15px;
  position: absolute;
  visibility: hidden;
  top: calc(100% - 1px);
  clip-path: var(--clip-path-1);
  background-color: var(--bg-oxford-blue);
  transition: clip-path 500ms var(--cubic-out);
}

.navbar.active
{
  visibility: visible;
  clip-path: var(--clip-path-2);
}

.navbar-link
{
  padding: 12px 25px;
  color: var(--text-white);
  text-transform: uppercase;
  font-size: var(--fontSize-7);
  font-weight: var(--weight-semiBold);

  background-size: 0% 4px;
  background-repeat: no-repeat;
  transition: var(--transition-2);
  background-position: left bottom;
  background-image: linear-gradient(to left, var(--bg-purple), var(--bg-purple));
}

.navbar-link:is(:hover, :focus-visible) { background-size: 100% 4px; }

.navbar-item
{
  border-block-start: 1px solid var(--border-space-cadet);
}

.navbar-item:last-child
{
  border-block-end: 1px solid var(--border-space-cadet);
}

/* Main Image */

.main-image
{
  text-align: center;
  padding-block-start: 170px;
}

.main-image .section-subtitle
{
  letter-spacing: 5px;
}

.main-image-title
{
  margin-block: 20px 25px;
}

.main-image .btn
{
  margin-inline: auto;
}

.main-image::before
{
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-image: var(--gradient-2);
}

.main-image-banner
{
  position: relative;
  margin-block-start: 50px;
}

.main-image-bg
{
  display: none;
}

/* Match-ups */

.upcoming-item:not(:last-child)
{
  margin-block-end: 90px;
}

.upcoming-card
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upcoming-card::before
{
  top: 50%;
  width: 90%;
  z-index: -1;
  opacity: 0.3;
  height: 80px;
  transform: translateY(-50%);
  border-radius: var(--radius-5);
  background-image: var(--gradient-1);
}

.upcoming-card.left::before
{
  right: 0;
  clip-path: var(--clip-path-4);
}

.upcoming-card.right::before
{
  left: 0;
  clip-path: var(--clip-path-6);
}

.upcoming-card .card-title
{
  text-transform: uppercase;
}

.upcoming-card.left .card-title
{
  text-align: right;
  margin-inline-end: 50px;
}

.upcoming-card.right .card-title
{
  text-align: left;
  margin-inline-start: 50px;
}

.upcoming-card .card-meta
{
  left: 50%;
  bottom: -20px;
  padding: 6px 20px;
  width: max-content;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%);
  font-size: var(--fontSize-7);
  border-radius: var(--radius-3);
  font-weight: var(--weight-semiBold);
  background-image: var(--gradient-1);
}

.upcoming-card.left .card-meta
{
  clip-path: var(--clip-path-5);
}

.upcoming-card.right .card-meta
{
  clip-path: var(--clip-path-7);
}

.upcoming-card .card-banner
{
  width: 30%;
}

.upcoming-card.right .card-banner
{
  order: 1;
}

.upcoming-time
{
  margin-block: 50px 30px;
}

.upcoming-time :is(.time, .date)
{
  text-align: center;
}

.upcoming-time .time
{
  line-height: 1;
  color: var(--text-white);
  font-size: var(--fontSize-1);
  font-weight: var(--weight-bold);
}

.upcoming-time .date
{
  margin-block: 5px;
  font-size: var(--fontSize-7);
  font-weight: var(--weight-semiBold);
}

.upcoming-item .social-wrapper
{
  justify-content: center;
}

.upcoming-card .social-link
{
  font-size: 2.5rem;
  color: var(--text-white);
  transition: var(--transition-1);
}

.upcoming-item .social-link:is(:hover, :focus-visible)
{
  color: var(--text-purple);
}

/* News */

.news-list
{
  gap: 30px;
  display: grid;
}

.news-card
{
  box-shadow: var(--shadow);
  background-color: var(--bg-oxford-blue-alpha-90);
}

.news-card .card-content
{
  padding: 30px;
  position: relative;
}

.card-tag
{
  left: 0;
  height: 30px;
  bottom: 100%;
  line-height: 32px;
  position: absolute;
  padding-inline: 20px;
  color: var(--text-white);
  text-transform: uppercase;
  font-size: var(--fontSize-8);
  clip-path: var(--clip-path-3);
  font-weight: var(--weight-semiBold);
  background-image: var(--gradient-1);
}

.news-card :is(.card-meta-list, .card-meta-item)
{
  display: flex;
  align-items: center;
}

.news-card .card-meta-list
{
  gap: 5px 10px;
  flex-wrap: wrap;
}

.news-card .card-meta-item
{
  gap: 5px;
}

.news-card .card-meta-item ion-icon
{
  color: var(--text-purple);
}

.news-card .card-meta-text,
.news-card .link
{
  text-transform: uppercase;
  font-size: var(--fontSize-7);
  font-weight: var(--weight-bold);
  color: var(--text-champagne-pink);
}

.news-card .h3
{
  margin-block: 15px 10px;
}

.news-card .card-title
{
  display: inline;
  background-size: 0% 4px;
  background-repeat: no-repeat;
  transition: var(--transition-2);
  background-position: left bottom;
  background-image: linear-gradient(to left, var(--bg-purple), var(--bg-purple));
}

.news-card .card-title:is(:hover, :focus-visible)
{
  background-size: 100% 4px;
}

.news-card .link
{
  max-width: max-content;
  margin-block-start: 15px;
  padding-inline-start: 30px;
  transition: var(--transition-1);
}

.news-card .link::before
{
  left: 0;
  top: 50%;
  width: 20px;
  height: 4px;
  transform: translateY(-100%);
  background-color: var(--bg-purple);
}

.news-card .link:is(:hover, :focus-visible)
{
  color: var(--text-purple);
}

/* Footer */

.footer-top .container
{
  gap: 35px;
  display: grid;
}

.footer-text
{
  margin-block: 0 25px;
}

.social-list
{
  gap: 10px;
  display: flex;
}

.footer .social-link
{
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  clip-path: var(--clip-path-8);
  transition: var(--transition-1);
  background-color: var(--bg-purple-alpha-30);
}

.footer .social-link:is(:hover, :focus-visible)
{
  transform: translateY(-2px);
  background-color: var(--bg-purple);
}

.footer-list-title
{
  line-height: 1;
  position: relative;
  max-width: max-content;
  margin-block-end: 20px;
  padding-block-end: 10px;
  font-size: var(--fontSize-3);
  font-weight: var(--weight-semiBold);
}

.footer-list-title::after
{
  left: 0;
  bottom: 0;
  width: 50%;
  height: 4px;
  background-color: var(--bg-purple);
}

.footer-link
{
  padding-block: 5px;
  color: var(--text-white);
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus-visible)
{
  color: var(--text-purple);
}

.contact-item .span
{
  color: var(--text-purple);
  text-transform: uppercase;
  font-size: var(--fontSize-7);
  font-weight: var(--weight-semiBold);
}

.contact-item:not(:last-child)
{
  margin-block-end: 15px;
}

.input-field
{
  outline: none;
  padding: 18px 12px;
  margin-block-end: 15px;
  color: var(--text-white);
  box-shadow: var(--shadow);
  font-size: var(--fontSize-5);
  border: 2px solid var(--border-purple-alpha-30);
  background-color: var(--bg-oxford-blue-alpha-90);
}

.input-field::placeholder
{
  color: var(--text-white); 
}

.footer-bottom
{
  clip-path: var(--clip-path-9);
  background-color: var(--bg-oxford-blue-alpha-80);
}

.copyright
{
  padding: 30px 20px;
  text-align: center;
}

.back-top-btn
{
  opacity: 0;
  z-index: 4;
  right: 20px;
  width: 50px;
  bottom: 10px;
  height: 50px;
  display: grid;
  position: fixed;
  font-size: 2.1rem;
  place-items: center;
  clip-path: var(--clip-path-8);
  transition: var(--transition-1);
  background-image: var(--gradient-1);
}

.back-top-btn.active
{
  opacity: 1;
  transform: translateY(-20px);
}

/* Media Queries */


/* Phone */
@media (min-width: 575px)
{
  .container
  {
    width: 100%;
    max-width: 540px;
    margin-inline: auto;
  }

  .header .logo img
  {
    width: 100px;
  }

  .upcoming-card.left .card-meta
  {
    left: auto;
    right: -15%;
  }

  .upcoming-card.right .card-meta
  {
    left: 25%;
  }

  .footer-top .container
  {
    grid-template-columns: 1fr 1fr;
  }
}

/* Tablet */
@media (min-width: 768px)
{
  :root
  {
    --fontSize-1: 6.5rem;
    --fontSize-2: 3.2rem;

  }

  .container
  {
    max-width: 720px;
  }

  .h1
  {
    line-height: 1;
  }

  .hero .section-subtitle
  {
    letter-spacing: 10px;
  }

  .hero-banner-bg
  {
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    display: block;
    position: absolute;
    transform: scale(1.3);
    transform-origin: bottom;
  }

  .upcoming-card::before
  {
    height: 110px;
  }

  .upcoming-card .card-meta
  {
    bottom: 20px;
    padding-block: 12px;
  }

  .upcoming-card .card-title
  {
    --fontSize-3: 2.8rem;
  }

  .upcoming-card.left .card-meta
  {
    right: -10%;
  }

  .upcoming-card.right .card-meta
  {
    left: 20%;
  }

  .upcoming-time .time
  {
    --fontSize-1: 5rem;
  }

  .news-list
  {
    grid-template-columns: 1fr 1fr;
  }
}

/* Computer */
@media (min-width: 992px)
{
  :root
  {
    --fontSize-2: 4.5rem;
    --section-spacing: 100px;
  }

  .container
  {
    max-width: 960px;
  }

  .h2
  {
    line-height: 1.1;
  }

  .nav-toggle-btn
  {
    display: none;
  }

  .navbar,
  .navbar.active
  {
    all: unset;
    display: block;
  }

  .navbar-item,
  .navbar-item:last-child
  {
    border: none;
  }

  .navbar-list
  {
    display: flex;
  }

  .header .btn
  {
    display: grid;
    text-align: center;
  }

  .hero-banner-bg
  {
    transform: scale(1.2);
  }

  .upcoming-item
  {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.5fr 1fr;
  }

  .upcoming-time
  {
    margin-block: 0;
  }

  .upcoming-card .card-meta
  {
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
  }

  .upcoming-card.right .card-meta
  {
    left: 50%;
  }

  .news-list
  {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-top .container
  {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Large Computer */
@media (min-width: 1200px)
{
  .container
  {
    max-width: 1140px;
  }

  .section-text
  {
    margin-block-end: 60px;
  }

  .hero
  {
    padding-block-start: 250px;
  }

  .hero-banner-bg
  {
    transform: scale(1.2);
  }

  .hero-banner .w-100
  {
    margin-inline: auto;
    max-width: max-content;
  }

  .upcoming-card .card-banner
  {
    width: auto;
    max-height: 180px;
  }

  .upcoming-card .card-meta
  {
    bottom: 0;
  }

  .upcoming-card.right .card-meta
  {
    left: 35%;
  }

  .upcoming-time .time
  {
    --fontSize-1: 6.2rem;
  }

  .footer-top .container
  {
    grid-template-columns: 1f 0.5fr 0.5fr 1fr;
  }

  .footer .logo img
  {
    width: 205px;
  }
}